@model WebApplication6.Models.Lessons

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lessons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time_of_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_of_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_of_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_of_end)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLesson }) |
    @Html.ActionLink("Back to List", "Index")
</p>
