@model WebApplication6.Models.Classes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Classes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number_of_class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letter_of_class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letter_of_class)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdClass }) |
    @Html.ActionLink("Back to List", "Index")
</p>
